
/* -----------------------------------------------------------
    Load fonts
----------------------------------------------------------- */

    @import url(../fonts/brandon/brandontext.css);



/* -----------------------------------------------------------
    Global Styles
----------------------------------------------------------- */

    html {
        font-size: 13px;
    }
    body {
        font-family: 'BrandonText', Sans-Serif;
        font-weight: 200;
        color: #303030;
        font-size: 14px;
        line-height: 1.85em;
    }
    a,
    a:visited,
    a:hover,
    .link_color,
    .link_color:hover {
        color: #303030;
    }
    h1, h2, h3, h4, h5, h6, #hero_header, .fullscreen_slideshow .hero_splash_text {
        font-family: 'BrandonText', Arial, Sans-Serif;
        text-transform: uppercase;
        font-weight: 200;
        color: #303030;
        letter-spacing: 3px;
        margin: 0 0 15px;
    }
    h1 a,h1 a:visited,
    h2 a, h2 a:visited,
    h3 a, h3 a:visited,
    h4 a, h4 a:visited,
    h5 a, h5 a:visited,
    h6 a, h6 a:visited {
        color: #303030;
        text-decoration: none;
    }
    h1 {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 7px;
        margin: 0 0 50px;
    }
    h2 {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 3px;
    }
    h3 {
        font-size: 17px;
        letter-spacing: 3px;
    }
    h4 {
        font-size: 15px;
        letter-spacing: 3px;
        margin: 0 0 10px;
    }
    h5 {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 3px;
        margin: 0 0 6px;
    }
    h6 {
        font-size: 13px;
        letter-spacing: 3px;
        margin: 0 0 6px;
    }
    #hero_header,
    .feature_panels .records_list.image_list ul li.panel_hero .hero_heading > h2,
    .feature_panels .records_list.image_list ul li.panel_hero .hero_heading > a > h2 {
        font-size: 45px;
        line-height: 45px;
        margin: 0;
        padding: 0;
        letter-spacing: 5px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    #hero_header .subtitle,
    .feature_panels .records_list.image_list ul li.panel_hero .hero_heading .subtitle {
        margin: 0;
        padding: 20px 0 0;
        letter-spacing: 5px;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .feature_panels .records_list.image_list ul li.panel_hero .hero_heading .description {
        margin: 0;
        padding: 20px 0 0;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    input,
    select,
    textarea {
        font-family: 'BrandonText', Arial, Sans-Serif;
        font-weight: 200;
        color: #303030;
        font-size: 13px;
    }
